*,
*::after,
*::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0;
  padding: 0;
}

th {
  background: black;
  color: white;
}

td {
  padding: 20px;
}

form {
  display: none;
}

input {
  display: block;
  padding: 10px;
  margin-bottom: 5px;
}

/* .remove-btn {
  background-color: blue;
  padding: 20px;
} */